@media(max-width:545px){
    header nav ul li a{
        font-size: 13px;
    }
    header{
        width: 100%;
    }
    .texto-card{
        font-size: 16px;
    }
    .card-cr7{
        width: 150px;
    }
    .about-us{
        margin: 10px;
        p{
            font-size: 14px;
        }
    }
    .texto-footer{
        font-size: 16px;
    }
    .img-a-1{
        width: 150px;
    }
    .abrir-menu{
        display: block;
    }
    .navbar-1{
        display: none;
    }
}
